pyqt5==5.15.3
SQLAlchemy~=2.0.31
psutil~=5.9.6
beautifulsoup4~=4.8.2
pypdf2~=3.0.1
Whoosh~=2.7.4
textract~=1.6.5
python-docx~=1.1.2
pandas~=2.0.3
openpyxl~=3.1.5
striprtf~=0.0.26
thulac~=0.2.2
jieba~=0.42.1
# docx2txt~=0.8
requests~=2.32.3